<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:motan="http://api.weibo.com/schema/motan"
xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
   http://api.weibo.com/schema/motan http://api.weibo.com/schema/motan.xsd">
   <motan:registry regProtocol="zookeeper" name="my_zookeeper" address="139.129.28.224:2181"/>
    <!-- reference to the remote service -->
  <!--   <motan:referer id="hello" interface="hello.IHelloworld" directUrl="localhost:8002"/>--> 
   <motan:referer id="hello" interface="hello.IHelloworld" registry="my_zookeeper"/>
  
</beans>